<div class="editor" *ngIf="note">

  <div class="post-it" *ngIf="readonly; else noteEditor">{{note.text}}</div>

  <ng-template #noteEditor>
    <textarea class="note-editor"
              placeholder="Write your text here"
              [(ngModel)]="note.text"
              [maxLength]="200"></textarea>
  </ng-template>


  <app-note-editor-toolbox class="toolbox"
                           [canEdit]="readonly && !!note.id"
                           [canRemove]="!!note.id"
                           [canSave]="!readonly && note.text.length > 0"
                           (editClicked)="edit()"
                           (removeClicked)="remove()"
                           (saveClicked)="save()">
  </app-note-editor-toolbox>
</div>
