.notes-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

@media only screen and (orientation: portrait) {
  .notes-list {
    justify-content: space-around;
  }
}


